<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af787b">  <td>18/10/21 11:04:00</td>   <td>0</td> <td title="&gt;&gt;Report.beforeSuite()[pri:0, instance:wdmethods.Irctc@3327bd23]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>18/10/21 11:04:03</td>   <td>2987</td> <td title="&gt;&gt;SpecificMethod.book()[pri:0, instance:wdmethods.Irctc@3327bd23]">&gt;&gt;book</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 11:04:03</td>   <td>2997</td> <td>&nbsp;</td><td title="&gt;&gt;Irctc.setData()[pri:0, instance:wdmethods.Irctc@3327bd23]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="af787b">  <td>18/10/21 11:04:03</td>   <td>3018</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeClass()[pri:0, instance:wdmethods.Irctc@3327bd23]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/21 11:04:04</td>   <td>4414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Irctc.train(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:wdmethods.Irctc@3327bd23]">train</td> 
  <td>main@727001376</td>   <td></td> </tr>
</table>
