<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="838989">  <td>18/10/03 10:47:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Zoom1Car.car()[pri:0, instance:wdmethods.Zoom1Car@5025a98f]">car</td> 
  <td>TestNG-test=Test(failed)-1@298314344</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/10/03 10:47:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Myntra.homwork()[pri:0, instance:wdmethods.Myntra@192b07fd]">homwork</td> 
  <td>TestNG-test=Test(failed)-2@1632599598</td>   <td></td> </tr>
</table>
