<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>18/10/22 19:44:54</td>   <td>0</td> <td title="&lt;&lt;Report.afterSuite()[pri:0, instance:week3.day1.CreateLead@5ce81285]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/22 19:44:02</td>   <td>-52105</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeClass()[pri:0, instance:week3.day1.CreateLead@5ce81285]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/22 19:43:59</td>   <td>-55648</td> <td title="&gt;&gt;Report.beforeSuite()[pri:0, instance:week3.day1.CreateLead@5ce81285]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/22 19:44:52</td>   <td>-2412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.close()[pri:0, instance:week3.day1.CreateLead@5ce81285]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/22 19:44:33</td>   <td>-21151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.day1.CreateLead@5ce81285]">createLead</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/22 19:44:05</td>   <td>-49517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.day1.CreateLead@5ce81285]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/22 19:44:02</td>   <td>-52152</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:week3.day1.CreateLead@5ce81285]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
</table>
